<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <title>Starting Grid</title>

    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/starting_grid.css">
</head>

<body>

<div class="starting-grid" id="starting-grid">


    <!-- ==============================================================
         HEADER
    ============================================================== -->

    <div class="grid-header">

        <div class="grid-logo">

            <img
                id="logo"
                src="../img/logoap.png"
                alt="Logo">

        </div>


        <div class="grid-header-info">

            <div
                class="grid-title"
                id="title">
                STARTING GRID
            </div>

            <div
                class="grid-subtitle"
                id="subtitle">
                GRILLA DE PARTIDA
            </div>

        </div>

    </div>


    <!-- ==============================================================
         GRID
    ============================================================== -->

    <div
        class="grid-list"
        id="grid-list">


        <!-- ==========================================================
             FILA 1
        ========================================================== -->

        <div class="grid-row">

            <div class="driver-card">

                <div class="position">
                    1
                </div>

                <div class="driver-photo">

                    <img
                        src="../img/piloto1.png"
                        alt="Piloto 1">

                </div>

                <div class="driver-info">

                    <div class="driver-name">
                        PILOTO 1
                    </div>

                    <div class="driver-number">
                        #01
                    </div>

                </div>

            </div>


            <div class="driver-card">

                <div class="position">
                    2
                </div>

                <div class="driver-photo">

                    <img
                        src="../img/piloto2.png"
                        alt="Piloto 2">

                </div>

                <div class="driver-info">

                    <div class="driver-name">
                        PILOTO 2
                    </div>

                    <div class="driver-number">
                        #02
                    </div>

                </div>

            </div>

        </div>


        <!-- ==========================================================
             FILA 2
        ========================================================== -->

        <div class="grid-row">

            <div class="driver-card">

                <div class="position">
                    3
                </div>

                <div class="driver-photo">

                    <img
                        src="../img/piloto3.png"
                        alt="Piloto 3">

                </div>

                <div class="driver-info">

                    <div class="driver-name">
                        PILOTO 3
                    </div>

                    <div class="driver-number">
                        #03
                    </div>

                </div>

            </div>


            <div class="driver-card">

                <div class="position">
                    4
                </div>

                <div class="driver-photo">

                    <img
                        src="../img/piloto4.png"
                        alt="Piloto 4">

                </div>

                <div class="driver-info">

                    <div class="driver-name">
                        PILOTO 4
                    </div>

                    <div class="driver-number">
                        #04
                    </div>

                </div>

            </div>

        </div>


        <!-- ==========================================================
             FILA 3
        ========================================================== -->

        <div class="grid-row">

            <div class="driver-card">

                <div class="position">
                    5
                </div>

                <div class="driver-photo">

                    <img
                        src="../img/piloto5.png"
                        alt="Piloto 5">

                </div>

                <div class="driver-info">

                    <div class="driver-name">
                        PILOTO 5
                    </div>

                    <div class="driver-number">
                        #05
                    </div>

                </div>

            </div>


            <div class="driver-card">

                <div class="position">
                    6
                </div>

                <div class="driver-photo">

                    <img
                        src="../img/piloto6.png"
                        alt="Piloto 6">

                </div>

                <div class="driver-info">

                    <div class="driver-name">
                        PILOTO 6
                    </div>

                    <div class="driver-number">
                        #06
                    </div>

                </div>

            </div>

        </div>


        <!-- ==========================================================
             FILA 4
        ========================================================== -->

        <div class="grid-row">

            <div class="driver-card">

                <div class="position">
                    7
                </div>

                <div class="driver-photo">

                    <img
                        src="../img/piloto7.png"
                        alt="Piloto 7">

                </div>

                <div class="driver-info">

                    <div class="driver-name">
                        PILOTO 7
                    </div>

                    <div class="driver-number">
                        #07
                    </div>

                </div>

            </div>


            <div class="driver-card">

                <div class="position">
                    8
                </div>

                <div class="driver-photo">

                    <img
                        src="../img/piloto8.png"
                        alt="Piloto 8">

                </div>

                <div class="driver-info">

                    <div class="driver-name">
                        PILOTO 8
                    </div>

                    <div class="driver-number">
                        #08
                    </div>

                </div>

            </div>

        </div>


    </div>

</div>


<script>

function update(data) {


    /* ==============================================================
       TITULO
    ============================================================== */

    if(data.title !== undefined){

        document.getElementById("title").textContent =
            data.title.toUpperCase();

    }


    /* ==============================================================
       SUBTITULO
    ============================================================== */

    if(data.subtitle !== undefined){

        document.getElementById("subtitle").textContent =
            data.subtitle.toUpperCase();

    }


    /* ==============================================================
       LOGO
    ============================================================== */

    if(data.logo !== undefined){

        document.getElementById("logo").src =
            data.logo;

    }


    /* ==============================================================
       PILOTOS
    ============================================================== */

    if(data.drivers !== undefined){

        const grid =
            document.getElementById("grid-list");

        grid.innerHTML = "";


        /*
         * Se crean dos pilotos por fila.
         */

        for(let i = 0; i < data.drivers.length; i += 2){

            const row =
                document.createElement("div");

            row.className =
                "grid-row";


            for(let j = i; j < i + 2; j++){

                const driver =
                    data.drivers[j];


                if(!driver){
                    continue;
                }


                const card =
                    document.createElement("div");

                card.className =
                    "driver-card";


                card.innerHTML = `

                    <div class="position">
                        ${driver.position}
                    </div>

                    <div class="driver-photo">

                        <img
                            src="${driver.photo}"
                            alt="${driver.name}">

                    </div>

                    <div class="driver-info">

                        <div class="driver-name">
                            ${driver.name}
                        </div>

                        <div class="driver-number">
                            #${driver.number}
                        </div>

                    </div>

                `;


                row.appendChild(card);

            }


            grid.appendChild(row);

        }

    }

}

</script>

</body>

</html>