<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Totem Shortname Leader</title>

    <link rel="stylesheet" href="../css/totem_names.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/totem_leader.css">

</head>

<body>


<div class="leaderboard" id="leaderboard">


    <!-- ==============================================================
         HEADER
    ============================================================== -->

    <div class="lb-header">


        <!-- LOGO -->

        <div class="lb-logo">

            <img
                src="../img/logoap.png"
                alt="Autódromo Panamá">

        </div>


        <!-- INFORMACIÓN -->

        <div class="lb-info">


            <div
                class="lb-heat"
                id="heatName">

                HEAT 1

            </div>


            <div class="lb-timer">

                <span>
                    TIME
                </span>

                <span id="raceTimer">
                    00:01:51
                </span>

            </div>


        </div>


    </div>



    <!-- ==============================================================
         TABLA
    ============================================================== -->

    <div
        class="lb-body"
        id="leaderboardBody">

    </div>


</div>



<script>


/* ==========================================================================
   DATOS DE PRUEBA
========================================================================== */

const standings = [

    {
        pos: 1,
        name: "D.CAR",
        number: "570",
        interval: "LEADER"
    },

    {
        pos: 2,
        name: "L.RAM",
        number: "33",
        interval: "+0.842"
    },

    {
        pos: 3,
        name: "A.RAM",
        number: "69",
        interval: "+1.214"
    },

    {
        pos: 4,
        name: "J.CAR",
        number: "42",
        interval: "+2.531"
    },

    {
        pos: 5,
        name: "M.SOL",
        number: "16",
        interval: "+3.004"
    },

    {
        pos: 6,
        name: "M.BAR",
        number: "12",
        interval: "+4.120"
    },

    {
        pos: 7,
        name: "G.ORT",
        number: "51",
        interval: "+5.287"
    },

    {
        pos: 8,
        name: "S.GUE",
        number: "24",
        interval: "+6.031"
    },

    {
        pos: 9,
        name: "L.FRO",
        number: "41",
        interval: "+7.245"
    },

    {
        pos: 10,
        name: "G.ALE",
        number: "48",
        interval: "+8.421"
    }

];



/* ==========================================================================
   ELEMENTOS
========================================================================== */

const container =
    document.getElementById(
        "leaderboardBody"
    );



/* ==========================================================================
   CREAR LEADERBOARD
========================================================================== */

function createLeaderboard(){


    container.innerHTML = "";


    standings.forEach((driver, index) => {


        const row =
            document.createElement("div");


        /*
         * El líder recibe la clase "leader".
         */

        row.className =
            index === 0
                ? "lb-row leader"
                : "lb-row";


        row.innerHTML = `

            <div class="lb-pos pos-${driver.pos}">
                ${driver.pos}
            </div>


            <div class="lb-separator"></div>


            <div class="lb-name">
                ${driver.name}
            </div>


            <div class="lb-number">
                ${driver.number}
            </div>


            <div class="lb-interval">
                ${driver.interval}
            </div>

        `;


        container.appendChild(row);

    });

}



/* ==========================================================================
   PLAY
========================================================================== */

function play(){

    const widget =
        document.getElementById(
            "leaderboard"
        );


    widget.style.animation =
        "slideUp .5s ease forwards";


    setTimeout(() => {

        widget.style.animation =
            "expandPanel .6s ease forwards";

    },500);

}



/* ==========================================================================
   STOP
========================================================================== */

function stop(){

    const widget =
        document.getElementById(
            "leaderboard"
        );


    widget.style.animation =
        "collapsePanel .5s ease forwards";


    setTimeout(() => {

        widget.style.animation =
            "slideDown .5s ease forwards";

    },500);

}



/* ==========================================================================
   CARGAR
========================================================================== */

window.onload = function(){

    createLeaderboard();

    play();

};

</script>


</body>

</html>