@charset "UTF-8";

/* ==========================================================================
   TOTEM LEADER
   Cambios específicos respecto a totem_names.css
========================================================================== */


/* ==========================================================================
   FILAS
========================================================================== */

.lb-row{

    grid-template-columns:
        80px
        20px
        1fr
        80px
        100px;

}


/* ==========================================================================
   INTERVALO
========================================================================== */

.lb-interval{

    padding-right:12px;

    text-align:right;

    color:#ffffff;

    font-size: 26px;

    font-weight:700;

    white-space:nowrap;

}


/* ==========================================================================
   INTERVALO DEL LÍDER
========================================================================== */

.lb-row.leader .lb-interval{

    color:#ffffff;

    font-size:16px;

    font-weight:800;

    text-transform:uppercase;

}


/* ==========================================================================
   NUMERO DEL PILOTO
   Un poco mas chico para dar aire al tiempo
========================================================================== */

.lb-number{

    font-size:32px;

}
