@charset "UTF-8";

/* ==========================================================================
   TOTEM SHORTNAME INTERVAL
   Cambios específicos respecto a totem_names.css
========================================================================== */


/* ==========================================================================
   FILAS
========================================================================== */

.lb-row{

    grid-template-columns:
        60px
        15px
        1fr
        60px
        75px;

}


/* ==========================================================================
   INTERVALO
========================================================================== */

.lb-interval{

    padding-right:9px;

    text-align:right;

    color:#ffffff;

    font-size: 20px;

    font-weight:700;

    white-space:nowrap;

}


/* ==========================================================================
   PRIMER PILOTO
========================================================================== */

.lb-row.leader .lb-interval{

    color:#ffffff;

    font-size:12px;

    font-weight:800;

    text-transform:uppercase;

}


/* ==========================================================================
   NUMERO DEL PILOTO
   Un poco mas chico para dar aire al tiempo
========================================================================== */

.lb-number{

    font-size:32px;

}
