@charset "UTF-8";

/* ==========================================================================
   TOTEM SHORTNAME INTERVAL
   Cambios específicos respecto a totem_names.css
========================================================================== */


/* ==========================================================================
   FILAS
========================================================================== */

.lb-row{

    grid-template-columns:
        80px
        20px
        1fr
        80px
        100px;

}


/* ==========================================================================
   INTERVALO
========================================================================== */

.lb-interval{

    padding-right:12px;

    text-align:right;

    color:#ffcc00;

    font-size:18px;

    font-weight:700;

    white-space:nowrap;

}


/* ==========================================================================
   PRIMER PILOTO
========================================================================== */

.lb-row.leader .lb-interval{

    color:#ffffff;

    font-size:14px;

    font-weight:800;

    text-transform:uppercase;

}